

 #GeneralSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
    margin: 0 auto;
    width: 60%;
    height: 326.5px;
    margin-top: 10%;
    gap: 10%;
 }

    #profile-box{
      margin-bottom: 40px;
    }

    #profile-box h3{
      padding-top: 5px;
      float: center;
    }

    .profileimg{
      float: left;
      width: 75px;
    }

    .profileimglist{
      margin-left: 100px;
      margin-top: 10px;
      float: left;
      width: 75px;
    }

    #moreimg{
      margin-top: -65px;
      margin-right: 75px;
      float: right;
      font-size: 35px;
    }

    .listheader {
      display: none;
      position: sticky;
      top: 0;
      background-color: #FFF;
      width: 100%;
      height: 120px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: left;
    }

    .listheader h3{
      margin-top: 40px;
      font-size: 30px;
      font-family: 'Inter', sans-serif;
    }

    .listheader h3:hover{
      cursor: pointer;
    }

  
    
    #chat-profiles{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 100px;
        margin-right: -110px;
        height: 750px;
        width: 600px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #list-profiles{
        height: 75%;
        overflow-y: scroll;
    }

    #list-profiles ul{
        text-decoration: none;
        list-style: none;
    }

    #list-profiles ul li{
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        text-align: left;
        font-family: 'Inter', sans-serif;
    }

    #list-profiles ul li:hover{
        cursor: pointer;
    }

    #list-profiles ul li img{
      position: relative;
        text-decoration: none;
        top: 20px;
    }

    #list-profiles ul li img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .iconocrear{
        width: 100px;
        padding: 30px;
    }

    #chat-profiles div{
        text-align: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
    }

    /* Ocultar la barra de desplazamiento vertical */
    .chat-profiles::-webkit-scrollbar {
        width: 0.5em;
      }

    .chat-section {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 100px;
      height: 750px;
      width: 1200px;
    
    }

    .chat-section div{
      text-align: center;
      justify-content: center;
      margin: 0 auto;
    }
    .imageslide{
      object-fit: contain;
      margin: 10px;
    }

    /* Ocultar la barra de desplazamiento vertical */
    /* Estilos para la barra de desplazamiento */
.chat-div::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  background-color: #F5F5F5; /* Color de fondo de la barra de desplazamiento */
}

/* Estilos para el pulgar (thumb) de la barra de desplazamiento */
.chat-div::-webkit-scrollbar-thumb {
  background-color: #79B2DD; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Borde redondeado del pulgar de la barra de desplazamiento */
}

/* Estilos para el pulgar (thumb) cuando se está arrastrando */
.chat-div::-webkit-scrollbar-thumb:active {
  background-color: #427BA5; /* Color del pulgar de la barra de desplazamiento cuando se arrastra */
}

    
    
    h1{
      font-family: 'Inter', sans-serif;;
    }

    .search-container {
      display: flex;
      align-items: center; /* Centra verticalmente los elementos */
      margin-top: 30px
    }

    #criteria{
      display: flex;
      align-items: center;
      width: 250px;
      height: 30px;
      font-size: 20px;
      background: #FFFFFF;
      border-radius: 4px;
      margin-left: 10px;
      margin-bottom: 26px;
      outline: none;
      border : 1px solid #ccc;
    }

    

    #search-button{
      position: relative;
      width: 90px;
      height: 25px;
      font-size: 20px;  
      background: #79B2DD;
      border-radius: 4px;
      font-weight: bold;
      border: none;
      font-size: larger;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      top: -14px;
      font-family: 'Inter', sans-serif;
    }

    #search-button:hover{
      cursor: pointer;
    }

    #imageJS{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-left: 40px;
      margin-top: 10px;
      margin-right: 20px;
    }

    .search-results{
      width: 350px;
      font-size: 20px;
      border-radius: 4px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 30px;
      outline: none;
    }

    .search-results .scrollable-list {
      display: none;
      overflow-y: scroll;
      height: 200px;
      padding: 0;
    }
    
    .search-results .scrollable-list::-webkit-scrollbar {
      width: 10px;
    }
    
    .search-results .scrollable-list::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    
    .search-results .scrollable-list::-webkit-scrollbar-thumb {
    background: #79B2DD; 
    border-radius: 10px;
    }
    
    .search-results .scrollable-list::-webkit-scrollbar-thumb:hover {
      background: #455b6b; 
    }

    #list-profiles::-webkit-scrollbar {
      width: 10px;
    }
    
    #list-profiles::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    
    #list-profiles::-webkit-scrollbar-thumb {
    background: #79B2DD; 
    border-radius: 10px;
    }
    
    #list-profiles::-webkit-scrollbar-thumb:hover {
      background: #455b6b; 
    }

    
    .search-results ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      align-items: left;
    }
    
    .search-results li {
      padding: 5px;
      margin-right: 10px;
      padding: 0;
    }
    
    .search-results a {
      text-decoration: none;
      color: black;
      font-family: 'Inter', sans-serif;
      size: 30px;
      cursor:pointer;
    }

    .search-results img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      top: 15px;
      right: 5px;
    }

    #no-results-message{
      font-size: 20px;
      font-family: 'Inter', sans-serif;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .chat-input{
      display: none;
      position: fixed;
      width: 40%;
      height: 50px;
      border-radius: 4px;
      top: 800px;
      left: 750px;
      margin-bottom: 10px;
      outline: none;
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: 'Inter', sans-serif;
    }

    .chat-input input{
      resize: none;
      width: 70%;
      height: 70%;
      border-radius: 50px;
      outline: none;
      border : 1px solid #ccc;
      font-size: 20px;
      margin-top: -10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 5px;
      font-family: 'Inter', sans-serif;
    }

    .chat-input i{
      position: relative;
       font-size: xx-large;
       color : #79B2DD;
       margin-left: 20px;
    }

    .chat-div {
      width: 100%;
      height: 500px;
      overflow-y: auto;
    }

    .chat-div ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 30px   ;

    }


    #YourMessage{
      padding: 5px;
      margin-right: -300px;
      padding: 0;
      margin-bottom: 10px;
      background-color: #ff6a00;
      width: 20%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    #TheirMessage{
      position: relative;
      padding: 5px;
      left: -100px;
      padding: 0;
      margin-bottom: 10px;
      background-color: rgb(53, 122, 172);
      width: 20%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    #newTheirMessage{
      list-style: none;
    }

    #newTheirMessage li{
      position: relative;
      padding: 5px;
      padding: 0;
      left: 235px;
      margin-bottom: 10px;
      background-color: rgb(53, 122, 172);
      width: 10%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .chat-div a {
      text-decoration: none;
      color: black;
      font-family: 'Inter', sans-serif;
      size: 30px;
      cursor:pointer;
    }

    #noChats{
      position: fixed;
      top: 45%;
      left: 55%;
      font-size: 30px;
      font-family: 'Inter', sans-serif;
    }

    .listMessages{
      position: relative;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    #closeResults{
      display: none;
      position: relative;
      top: 10px;
      left: 150px;
      color: red;
      font-size: 30px;
    }

    #closeResults:hover{
      cursor: pointer;
    }

    .togleNavBar{
      display: none;
    }

    