body{
    font-family: 'Inter', sans-serif;
    
 }

 #GeneralSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
    margin: 0 auto;
    width: 60%;
    height: 326.5px;
    margin-top: 10%;
    gap: 10%;
 }

    .editarperfil-section {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin-top: 200px;
      height: 850px;
      width: 2500px;
    }

    .editarperfil-section > div{
        margin-top: 100px;
        margin-left: 125px;
    }

    .editarperfil-section h4{
        margin-top: -10px;
        margin-left: 25px;
    }

    .editarperfil-section h5{
        margin-left: 180px;
        margin-top: -30px;
    }

    .editarperfil-section a{
        text-decoration: none;
        color: #0047FF;
    }

    #tituloeditarperf{
        margin-right: 150px;
        margin-top: 60px;
        float: right;
        font-size: 40px;
    }

    .diveditarperfil{
        display: flex;
        margin-bottom: 40px;
        margin-left: 25px;
    }

    .diveditarperfil #titulocont{
        width: 70px;
    }

    .diveditarperfil button{
        margin-left: 85px;
        width: 306px;
        margin-top: 15px;
        height: 50px;
        text-align: left;
        padding: 10px;
        font-size: 40px;
        background-color: white;
        border-width: 0.5px;
    }

    .diveditarperfil textarea{
        width: 300px;
        height: 100px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .editarperfil-section select{
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        padding-right: 103px;
        padding-left: 103px;
        margin-left: 90px;
    }

    .editarperfil-section img{
        width: 150px;
    }

    #headeditarperfil{
        align-items: center;
        display: flex;
    }

    #headeditarperfil h2{
        margin-left: 20px;
    }

    #headeditarperfil button{
        margin-left: 50px;
    }

    #EliminarButton{
        background-color: red;
        color: white;
        padding: 14px;
        font-size: 17px;
        border: white;
        font-weight: bold;
        border-radius: 7px;
    }

    #GuardarButton{
      background-color: #79B2DD;
      padding: 14px;
      font-size: 20px;
      border: white;
      font-weight: bold;
      border-radius: 7px;
      padding-left: 17px;
      padding-right: 17px;
      margin-left: 400px;
    }


  
  