body{
  font-family: 'Inter', sans-serif;
}

#GeneralSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
    margin: 0 auto;
    width: 60%;
    height: 326.5px;
    margin-top: 10%;
    gap: 10%;
 }

 #profile-box {
  display: flex;
  align-items: center;
}
  
  #profile-box h3{
    padding-top: 5px;
    float: center;
  }

  .profileimg{
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .profileimglist{
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 25px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #tulista:hover{
    cursor: pointer;
  }

  .moreimg{
    margin-top: -60px;
    margin-right: 75px;
    float: right;
    width: 60px;
  }

  .options-box {
    margin-top: -100px;
    width: 600px;
    padding: 10px;
  }
  
  .options-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .options-box li {
    margin-bottom: 5px;
  }
  
  .options-box a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .options-box a:hover {
    background-color: #f2f2f2;
  }

  .listheader{
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left !important ;
  }

  .listheader h3{
    margin-top: 35px;
  }
  

  .image-section {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
    height: 850px;
    width: 2500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .image-section div{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .imageslide{
    object-fit: contain;
    margin: 10px;
  }

  /* Ocultar la barra de desplazamiento vertical */
  .image-section::-webkit-scrollbar {
    width: 0.5em;
  }

  h1,h2,h3,h4,h5,h6,p,li{
    font-family: 'Inter', sans-serif;
  }

  #profileImageJS {
    float: left;
    margin-right: 10px;
  }
  
  #usernameJS, #lastnameJS {
    margin: 0;
    

  }
  
  #lastnameJS {
    margin-top: 10px;
    font-size: smaller;
    margin-left: 5px;
  }

  #PostGiftList{
    list-style: none;
  }


  .product {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .emoji {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .name {
    flex: 1;
    margin-right: 10px;
    font-size: large;
  }
  
  .checkbox {
    margin-left: auto;
  }

  #reserveCheckbox {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Cambia el aspecto cuando el checkbox está seleccionado */
  #reserveCheckbox:checked {
    border-color: #007bff;
    background-color: #007bff;
    
  }

  #reserveCheckbox:checked:after {
    content: '\1F381';
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding-top: 3px;
  }


  #giftImage{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    
 
  }

