body{
    font-family: 'Inter', sans-serif;
 }

 #GeneralSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  #ImageSection{
    flex-wrap: wrap;
  }
  
  #ProfileSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -52% auto 0;
    z-index: 0;
  }
  
  #ProfileInfo {
    display: flex;
    align-items: flex-start;
  }
  
  #ProfileImage {
    margin-right: 20px;
  }
  
  #ProfileImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  #ProfileName{
    margin: 0;
  }

  #EditProfileButton{
    position: relative;
    top: 40px;
    margin-left: 720px;
    font-size: 20px;  
    background: #79B2DD;
    border-radius: 4px;
    margin-top: 5%;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: none;
  }

  #EditProfileButton a{
   text-decoration: none;
   color: #000000; 
  }
  
  #UserCount {
    display: flex;
    margin-top: 70px;
    margin-left: -90px;
  }
  
  #UserCount h1 {
    margin: 0;
    margin-right: 10px;
  }
  
  #UserCount h3 {
    margin: 0;
    margin-right: 10px;
    padding-top: 3px;
  }
  
  #ProfileDescription {
    display: flex;
    margin-top: 110px;
    margin-left: -215px;
  }

  hr{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
  }

  #SelectList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: #000000;
    margin-top: -20px;
  }

  #SelectList a:hover{
    font-weight: bold;
  }
  
  #Lists{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: #000000;
    font-size: x-large;
  }

  .grid-container {
    display: grid;
    margin-left: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 80vw; /* Ajusta el ancho del contenedor a la ventana */
    height: 100vh; /* Ajusta la altura del contenedor a la ventana */
  }
  
  .grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    width: calc((100% - 20px * 2)); /* Establece el ancho de cada elemento para que sean cuadrados y estén separados horizontalmente */
    height: calc((100% - 20px * 2)); /* Establece la altura de cada elemento para que sean cuadrados y estén separados verticalmente */
    transition: all 0.5s ease;
  }

  .grid-item:hover {
    background-color: #fafafa;
    
    
  }

  